<!-- views/employees.ejs -->
<!-- views/employees.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <h1>Employees</h1>
    <ul>
        <% employees.forEach(employee => { %>
            <li><%= employee.first_name %> <%= employee.last_name %> - <%= employee.Department.name %></li>
        <% }); %>
    </ul>
</body>
</html>
