<!-- views/view-api.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Data</title>
    <link href="public/css/output.css" rel="stylesheet">
</head>
<body class="bg-northwesternPurple text-white">
    <h1 class="text-4xl font-bold mt-10">Data from External API</h1>
    <div class="mt-6">
        <% apiData.forEach(data => { %>
            <p class="text-lg mt-2"><%= data.name %></p>
        <% }); %>
    </div>
</body>
</html>
